<mat-toolbar class="nav">
  <mat-toolbar-row>
    <span (click)="homeNav()">ShopForHome</span>
    <span class="example-spacer"></span>
    <div
      *ngIf="!isLogin"
      class="example-button-container"
      style="margin-right: 30px"
    >
      <button mat-fab extended [routerLink]="['/login']">
        <mat-icon>login</mat-icon>
        Login
      </button>
      <button color="primary" mat-fab extended [routerLink]="['/signup']">
        Sign Up
      </button>
      <mat-icon>menu</mat-icon>
    </div>
    <div *ngIf="isLogin" class="example-button-container">
      <div *ngIf="!isAdmin">
        <button mat-fab extended [matMenuTriggerFor]="menu" color="primary">
          <mat-icon>menu</mat-icon>
          Menu
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onCart()">
            <mat-icon [matBadge]="size">shopping_cart</mat-icon> Cart
          </button>
          <button (click)="onWishListClick()" mat-menu-item>
            <mat-icon>favorite</mat-icon> Wish List
          </button>
          <button mat-menu-item (click)="onLogout()">
            <mat-icon>logout</mat-icon> Log out
          </button>
        </mat-menu>
      </div>

      <div *ngIf="isAdmin">
        <button mat-fab extended [matMenuTriggerFor]="menu" color="primary">
          <mat-icon>menu</mat-icon>
          Menu
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="onDashBoardClick()" mat-menu-item>
            <mat-icon>dashboard</mat-icon>Dashboard
          </button>
          <button mat-menu-item (click)="onLogout()">
            <mat-icon>logout</mat-icon> Log out
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
