<div style="width: 100%; height: 100%; align-items: center">
  <div style="width: 80%" *ngIf="products.length == 0">
    <mat-card appearance="outlined">
      <mat-card-content>No Product Added to Cart</mat-card-content>
    </mat-card>
  </div>
  <div
    style="width: 100%; display: flex; flex-direction: row"
    *ngIf="products.length > 0"
  >
    <div style="width: 80%">
      <mat-grid-list cols="1" rowHeight="9:1">
        <mat-grid-tile *ngFor="let p of products; index as i">
          <mat-card
            appMaterialElevation
            class="example-card"
            appearance="outlined"
          >
            <mat-card-header>
              <img
                mat-card-sm-image
                [src]="p.imgUrl"
                alt="Photo of a Shiba Inu"
              />
            </mat-card-header>

            <mat-card-content style="margin-top: 10px">
              <p style="text-decoration: solid; font-weight: bold">
                Name: {{ p.name }}
              </p>
              <p style="text-decoration: solid; font-weight: bold">
                Des: {{ p.description }}
              </p>
              <p style="text-decoration: solid; font-weight: bold">
                Price: ${{ p.price }}
              </p>
              <p style="text-decoration: solid; font-weight: bold">
                Quantity: {{ p.quantity }}
              </p>
            </mat-card-content>
            <span class="example-spacer"></span>
            <mat-card-actions>
              <button (click)="onPlus(p)" mat-fab extended color="primary">
                +
              </button>
              <button (click)="onMinus(p, i)" mat-fab extended>-</button>
              <button (click)="onRemove(p, i)" mat-fab extended>Remove</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div style="width: 20%">
      <mat-card appearance="outlined">
        <mat-card-header> Your Current Total : ${{ total }} </mat-card-header>

        <mat-card-content style="margin-top: 10px">
          <p>Coupon</p>
          <input type="text" name="" id="" [(ngModel)]="coupon" />
        </mat-card-content>
        <mat-card-actions>
          <button mat-fab extended (click)="onApplyCoupon()">
            Apply Coupon
          </button>
          <button (click)="onCheckout()" mat-fab extended>Check Out</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
